<h2 class="center">Trips</h2>
<a href="/trips/add">Create a new trip</a>
<table>
<tr>
    <td>Trip Name</td>
    <td>Mode of Transportation</td>
    <td>Distance (Miles)</td>
    <td>Duration (Minutes)</td>
    <td>Number of Travelers</td>
    <td>Carbon Emissions (KG)</td>
</tr>
{{#each trips as |t|}}
<tr>
    <td>{{t.name}}</td>
    <td>{{t.modeOfTransportation}}</td>
    <td>{{t.distance}}</td>
    <td>{{t.duration}}</td>
    <td>{{t.numTravelers}}</td>
    <td>{{t.emissions}}</td>
</tr>
{{/each}}
</table>
